<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <main class="jumbotron text-center rounded col-md-12 align-self-center pt-5">
        <div class="justify-content-center">
          <h1>Brand Details</h1>
        </div>
        <div class="row bg-light rounded">
          <div class="col-md-6"><img src="/pic/company.png" height="350px"></div>
          <div class="col-md-6 pt-3">
            <h2>Brand</h2>
            <h4 th:text="'Name: ' + ${brandDetails.name}"></h4>
            <h4 th:text="'Created: ' + ${brandDetails.created}"></h4>
            <h4 th:text="'Modified: ' + ${brandDetails.modified}"></h4>
            <div class="btn-group">
              <a class="btn btn-success btn-lg mx-2" th:href="@{/brand/edit/{brand-name}(brand-name=${brandDetails.name})}">Edit Brand</a>
              <a class="btn btn-danger btn-lg" th:href="@{/brand/brand-delete/{brand-name}(brand-name=${brandDetails.name})}">Delete Brand</a>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-12">
            <h2 class="display-5">Models</h2>
            <table class="table table-bordered mt-3">
              <thead>
              <tr>
                <th>Model Name</th>
                <th>Created</th>
                <th>Start year</th>
                <th>End year</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="model : ${models}">
                <td th:text="${model.name}"></td>
                <td th:text="${model.category}"></td>
                <td th:text="${model.startYear}"></td>
                <td th:text="${model.endYear}"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </main>
    </div>
  </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>