<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <main class="jumbotron text-center rounded col-md-12 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>Model Details</h1>
                </div>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Model</td>
                        <td th:text="'Model: ' + ${modelDetails.name}"></td>
                    </tr>
                    <tr>
                        <td>Category</td>
                        <td th:text="'Category: ' + ${modelDetails.category}"></td>
                    </tr>
                    <tr>
                        <td>Start year</td>
                        <td th:text="'Start year: ' + ${modelDetails.startYear}"></td>
                    </tr>
                    <tr>
                        <td>End year</td>
                        <td th:text="'End year: ' + ${modelDetails.endYear}"></td>
                    </tr>
                    <tr>
                        <td>Created</td>
                        <td th:text="'Created: ' + ${modelDetails.created}"></td>
                    </tr>
                    <tr>
                        <td>Modified</td>
                        <td th:text="'Modified: ' + ${modelDetails.modified}"></td>
                    </tr>
                    <tr>
                        <td>Image</td>
                        <td><img th:src="@{/pic/model.png}" height="100px" alt="Model Image"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="align-bottom"><a class="btn btn-danger align-bottom"
                                             th:href="@{/model/model-delete/{model-name}(model-name=${modelDetails.name})}">Delete model</a>
                </div>
            </main>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>
