<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <main class="jumbotron text-center rounded col-md-12 align-self-center pt-5">
        <div class="justify-content-center">
          <h1>Offer Details</h1>
        </div>
        <div class="row bg-light rounded">
          <div class="col-md-6 mt-3">
            <div class="overflow-hidden" style="height: 100%; object-fit: cover;">
              <img th:src="@{'/pic/' + ${offerDetails.models} + '_image.png'}" alt="Image" class="img-fluid h-100 w-100">
            </div>
          </div>
          <div class="col-md-6 pt-3">
            <h2 th:text="'Model: ' + ${offerDetails.models}"></h2>
            <h2 th:text="'Brand: ' + ${offerDetails.models}"></h2>
            <h2 th:text="'User: ' + ${offerDetails.users}"></h2>
            <h4 th:text="'Price: ' + ${offerDetails.price}"></h4>
            <h4 th:text="'Year: ' + ${offerDetails.year}"></h4>
            <h5 th:text="'Description: ' + ${offerDetails.description}"></h5>
            <div class="btn-group">
              <a class="btn btn-success btn-lg mx-2" th:href="@{/offer/edit/{offer-id}(offer-id=${offerDetails.id})}">Edit</a>
              <a class="btn btn-danger btn-lg" th:href="@{/offer/delete/{offer-id}(offer-id=${offerDetails.id})}">Delete</a>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>