<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <main class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
        <div class="justify-content-center">
          <h1 class="display-4 font-weight-bold">Your Profile</h1>
        </div>
        <div class="row bg-light rounded shadow">
          <div class="col-md-12" th:object="${user}">
            <h4 th:text="*{username}" class="display-6"></h4>
            <h4 th:text="'Full Name: ' + *{email}" class="font-italic mt-4"></h4>
            <h4 th:text="'Age: ' + *{age}" class="font-italic"></h4>
            <b class="font-weight-bold">User Roles: </b>
            <div sec:authentication="principal.authorities" class="font-weight-bold"></div>
          </div>
        </div>
      </main>
    </div>
  </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>
