<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <main class="jumbotron text-center rounded col-md-12 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>User Details</h1>
                </div>
                <div class="row bg-light rounded">
                    <div class="col-md-6"><img src="/pic/company.png" height="350px"></div>
                    <div class="col-md-6 pt-3">
                        <h2>User</h2>
                        <h4 th:text="'Name: ' + ${userDetails.userName}"></h4>
                        <h4 th:text="'Created: ' + ${userDetails.created}"></h4>
                        <h4 th:text="'Modified: ' + ${userDetails.modified}"></h4>
                        <div class="btn-group">
                            <a class="btn btn-success btn-lg mx-2" th:href="@{/user/edit/{user-userName}(user-useNname=${userDetails.userName})}">Edit</a>
                            <a class="btn btn-danger btn-lg" th:href="@{/user/user-delete/{user-userName}(user-userName=${userDetails.userName})}">Delete</a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>